/*
 *
 * 此文件仅做参考，不会实际加载
 *
 */

@layoutLeftWidth: 100px;                      // 宽度 左侧分类列表

@colorSelection:#fff;                       // 颜色 选择 前景
@colorSelectionBG:#338fff;                  // 颜色 选择 背景

@colorText: #5a5a5a;                        // 颜色 文字
@colorPrimary: #e6e6e6;                     // 颜色 主
@colorSecondary: #fff;                      // 颜色 次
@colorBorder: #d3d3d3;                      // 颜色 边框
@colorShadow:rgba(0, 0, 0, .5);             // 颜色 阴影
@colorHover: #dcdcdc;                       // 颜色 激活
@colorActive: #d2d2d2;                      // 颜色 选中

@colorIconText: #5a5a5a;                    // 颜色 图标-文字
@colorIconBorder: #d3d3d3;                  // 颜色 图标-边框
@colorIconHover: rgba(0, 0, 0, .05);        // 颜色 图标-激活
@colorIconActive: rgba(0, 0, 0, .1);        // 颜色 图标-选中

@colorMenuText:#5a5a5a;                               // 颜色 菜单-文字
@colorMenuHoverText: @colorMenuText;			        // 颜色 菜单-激活文字 (1.2.5+)
@colorMenuHover:#dcdcdc;                              // 颜色 菜单-激活背景
@colorMenuBG:#fff;                                    // 颜色 菜单-背景
@colorMenuBorder:#d3d3d3;                             // 颜色 菜单-边框
@colorMenuShadow:rgba(0, 0, 0, .35);                  // 颜色 菜单-阴影
@colorMenuDivider: @colorMenuBorder;                    // 颜色 菜单-分割线 (1.2.5+)
@colorMenuSubIcon: @colorMenuText;                      // 颜色 菜单-子菜单图标 (1.2.5+)
@colorMenuDisabled: darken(@colorMenuText, 20%);        // 颜色 菜单-禁用 (1.2.5+)

@colorTipText: #5a5a5a;                     // 颜色 提示-文字
@colorTipBG: #fefee9;                       // 颜色 提示-背景
@colorTipBorder: #b1b1b1;                   // 颜色 提示-边框

